@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Contoso Crafts</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <body>
        <iframe width="400" height="300"
                src="https://rumble.com/embed/vk7yvt/?pub=hhd6z">
        </iframe>
        @*<img src="https://1.bp.blogspot.com/_aCLL2FrDQUA/S7dd5SjeS1I/AAAAAAAAA0Y/bprmR0A2hRk/s1600/Smiling+Lion+closeup.jpg" alt="Test image">*@
    </body>
</div>
