@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br />

@{
    ViewBag.Title = "Exacting Vagueness";
}

<h4>@ViewBag.Title</h4>
<h6>@ViewBag.Message</h6>

<footer>
    Privacy Documentation last updated: @DateTime.Now
</footer>